# Pandas learning

In [12]:
import matplotlib.pyplot as plt
import pandas as pd

##### First learn how to **create** simple dataframes from elements' list and **save** it as a csv file.

In [13]:
names = ['Bob', 'Jessica', 'Mary', 'John', 'Mel']
births = [968, 155, 77, 578, 973]
baby_dataset = list(zip(names, births))
print('baby_dataset: ', baby_dataset)

baby_dataset:  [('Bob', 968), ('Jessica', 155), ('Mary', 77), ('John', 578), ('Mel', 973)]

In [14]:
df = pd.DataFrame(data=baby_dataset, columns=['Names', 'Births'])
print(df)

     Names  Births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973

In [15]:
df.to_csv('births1880.csv', index=False, header=False)
# so easy :D

##### Now take a differente dataframe and **read** it from csv. We can do some interesting things.

In [16]:
df = pd.read_csv('pokemon_data.csv')
print(df)

       #                   Name   Type 1  Type 2  HP  Attack  Defense  \
0      1              Bulbasaur    Grass  Poison  45      49       49
1      2                Ivysaur    Grass  Poison  60      62       63
2      3               Venusaur    Grass  Poison  80      82       83
3      3  VenusaurMega Venusaur    Grass  Poison  80     100      123
4      4             Charmander     Fire     NaN  39      52       43
..   ...                    ...      ...     ...  ..     ...      ...
795  719                Diancie     Rock   Fairy  50     100      150
796  719    DiancieMega Diancie     Rock   Fairy  50     160      110
797  720    HoopaHoopa Confined  Psychic   Ghost  80     110       60
798  720     HoopaHoopa Unbound  Psychic    Dark  80     160       60
799  721              Volcanion     Fire   Water  80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
..       ...      ...    ...         ...        ...
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]

In [25]:
# Or take the n top elements...
print('---------- head --------------')
print(df.head(2))
# Or the k bottom elements too.
print('\n---------- tail --------------')
print(df.tail(2))

---------- head --------------
   #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  1  Bulbasaur  Grass  Poison  45      49       49       65       65     45
1  2    Ivysaur  Grass  Poison  60      62       63       80       80     60

   Generation  Legendary
0           1      False
1           1      False

---------- tail --------------
       #                Name   Type 1 Type 2  HP  Attack  Defense  Sp. Atk  \
798  720  HoopaHoopa Unbound  Psychic   Dark  80     160       60      170
799  721           Volcanion     Fire  Water  80     110      120      130

     Sp. Def  Speed  Generation  Legendary
798      130     80           6       True
799       90     70           6       True