### Series

In [34]:
import pandas as pd
import numpy as np

names = ['Alice', 'Codeine', 'Jane']
numbers = [1, 2, 3]

In [35]:
# Notice that Pandas is going to set an specific type to
# our data
pd.Series(names)

0      Alice
1    Codeine
2       Jane
dtype: object

In [36]:
# And for our Numbers array it sets int64 dtype
pd.Series(numbers)
# It offers significant speedrun when proccessing dataframe
# versus traditional python lists

0    1
1    2
2    3
dtype: int64

Let's add some **None** values to our arrays

In [37]:
names = ['Alice', 'Codeine', 'Jane', None]
numbers = [1, 2, 3, None]

In [38]:
# It set None and that's all
pd.Series(names)

0      Alice
1    Codeine
2       Jane
3       None
dtype: object

In [39]:
# But in our number's array is going to set NaN (Not a Number)
# First: NaN is a different value rather than None
# Second: Pandas set dtype as float64 because NaN has it
pd.Series(numbers)

0    1.0
1    2.0
2    3.0
3    NaN
dtype: float64

Here some **IMPORTANT**. NaN can't be compared itself. We need to use .isnan function.

In [40]:
np.nan == np.nan

False

In [41]:
np.isnan(np.nan)

True

Nan is simmilar to None, but it's a numeric value and treated differently for efficiency reasons

---

In [42]:
# Also is possible to create a Series object from a python dict
students = {
    'Alice': 'Physics',
    'Codeine': 'Chemistry',
    'Molly': 'English'
}
s = pd.Series(students)
s
# Here dict keys are parse as index Series object
# Notice that dtype is setted as object

Alice        Physics
Codeine    Chemistry
Molly        English
dtype: object

In [43]:
# Next we can get indexes
s.index

Index(['Alice', 'Codeine', 'Molly'], dtype='object')

In [44]:
# Analog to
pd.Series(['Physics', 'Chemestry', 'English'], index=['Alice', 'Codeine', 'Molly'])

Alice        Physics
Codeine    Chemestry
Molly        English
dtype: object

In [45]:
# For every single row you can storage every kind of data
pd.Series([('Alice', 'Brown'), ('Codeine', 'White'), ('Molly', 'Yellow')])

0      (Alice, Brown)
1    (Codeine, White)
2     (Molly, Yellow)
dtype: object

In [46]:
students = {
    'Alice': 'Physics',
    'Codeine': 'Chemistry',
    'Molly': 'English'
}
s = pd.Series(students, index=['Alice', 'Codeine', 'Kate'])
s
# Kate will have NaN value, and notice that Molly is not in the Series object

Alice        Physics
Codeine    Chemistry
Kate             NaN
dtype: object